body {
}
h1 {
    color: blue;
}
p {
    color: cornflowerblue;
    border: 5px solid powderblue;
    padding: 30px;
    margin: 100px;
}

p.error {
    color: red;
}

#p01 {
    color: aqua;
    border:7px solid yellowgreen;
}